body {
  background-color: #2E3440;
  font-family: 'Noto Sans', sans-serif;
}

h2 {
  font-size: 32px;
  color: #ECEFF4;
  text-align: center;
  margin-top: 50px;
  animation: fadeInUp 5s ease-out;
}

span {
  color: #88C0D0;
}

#weather {
  display: flex;
}

iframe {
  background-color: #3B4252;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  animation: fadeInUp 5s;
  border: 1px solid #4C566A;
  border-radius: 5px;
 
  margin-left: 100px;
  width: 430px;
  height: 300px;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
