body {
  background-color: #f2f2f2;
}

h2 {
  font-size: 32px;
  color: #333;
  text-align: center;
  margin-top: 50px;
}

span {
  color: darkcyan;
}

#weather {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

iframe {
  background-color: #fff;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
